<?xml version="1.0" ?>
<!--
/**
 * Copyright (c) 2025 Fusion Lab G.P
 * Website: https://fusionlab.gr
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fusionlab_ga4_settings>
            <general>
                <enable>0</enable>
                <gtm_container_id>GTM-</gtm_container_id>
            </general>
            <event_settings>
                <item_id>entity_id</item_id>
                <brand>manufacturer</brand>
                <category_concat>1</category_concat>
                <subtotal_tax>1</subtotal_tax>
            </event_settings>
            <product_settings>
                <product_list>.products.wrapper,grid.products-grid</product_list>
            </product_settings>
        </fusionlab_ga4_settings>
    </default>
</config>
